/* ===== DEFAULT (DARK) ===== */
:root {
  --bg-main: #000000;
  --bg-header: #000000;
  --bg-sidebar: #0B0E11;
  --bg-card: #14181C;
  --bg-code: #0D1117;

  --text-main: #ffffff;
  --text-muted: #848E9C;
  --text-accent: #00FFD1;

  --border-color: #2D333B;
  --accent-neon-dim: rgba(0, 255, 209, 0.1);
}

/* ===== LIGHT MODE ===== */
[data-theme="light"] {
  --bg-main: #ffffff;
  --bg-header: #ffffff;
  --bg-sidebar: #f8f9fa;
  --bg-card: #ffffff;
  --bg-code: #f1f5f9;

  --text-main: #0B0E11;
  --text-muted: #64748b;
  --text-accent: #00A68E;

  --border-color: #E5E5E5;
  --accent-neon-dim: rgba(0, 166, 142, 0.1);
}

/* ===== GLOBAL ===== */
body {
  background: var(--bg-main);
  color: var(--text-main);
  transition: background 0.25s, color 0.25s;
  font-family: 'Inter', sans-serif;
}

